html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Rampart One", cursive;
}
img {
  height: 40rem;
  width: 40rem;
}
.child {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border: 1rem solid black;
  box-shadow: 2rem 1rem 1rem grey;
  width: 30%;
  height: 60rem;
  margin: 1rem;
}
.parent {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
.header-title {
  font-size: 10rem;
  text-align: center;
}
.img {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}
.sponge:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in;
  border: solid purple;
}
