html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Qahiri", sans-serif;
}
img {
  height: 30rem;
  width: 30rem;
}
.child-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1rem solid black;
  box-shadow: 10px 5px 5px black;
  padding: 1rem;
  margin: 1rem;
}
.parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 85vw;
  margin: 0 auto;
}
.child-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1rem solid black;
  box-shadow: 10px 5px 5px black;
  padding: 1rem;
  margin: 1rem;
}
.child-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1rem solid black;
  box-shadow: 10px 5px 5px black;
  padding: 1rem;
  margin: 1rem;
}
